{% extends 'base.html' %}

{% block content %}
<div class="market-card my-4" style="max-width: 500px; margin: auto;">
    <div class="market-card-header text-center">Добавить категорию</div>
    <div class="p-4">
        <form id="category-form" action="" method="POST">
            {% include 'partial/product_form.html' %}
        </form>
    </div>
    <div class="market-card-footer d-flex justify-content-between">
        <a href="{% url 'products' %}" class="btn-market-outline">Отмена</a>
        <button type="submit" form="category-form" class="btn-market">Сохранить</button>
    </div>
</div>
{% endblock %}