{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm my-4">
    <div class="card-header fs-4 text-center py-3 text-danger">Удаление товара</div>
    <div class="card-body text-center">
        <p class="fs-5">Вы уверены что хотите удалить товар?</p>
        <p class="fw-bold fs-4">{{ product.title }}</p>
        <img src="{{ product.image }}" style="width: 150px; height: 150px; object-fit: cover;" alt="{{ product.title }}" class="rounded mb-3">
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
      <a href="{% url 'product' product.pk %}" class="btn btn-sm btn-outline-secondary">Отмена</a>
      <form method="POST">
           {% csrf_token %}
           <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
      </form>
    </div>
</div>
{% endblock %}