{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm my-4">
    <div class="card-header fs-4 text-center py-3">Добавить товар</div>
    <div class="card-body">
        <form id="product-form" action="" method="POST">
            {% include 'partial/product_form.html' %}
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
        <a href="{% url 'products' %}" class="btn btn-sm btn-outline-secondary">Отмена</a>
        <button type="submit" form="product-form" class="btn btn-sm btn-primary">Сохранить</button>
    </div>
</div>
{% endblock %}